<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Axios js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>Cabled Array Data Access Interface</title>

    <style>
        html,
        body {
            margin: 0 auto;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .app-container {
            width: 100%;
            height: 100%;
            padding-top: 5rem;
        }

        .app-heading {
            margin-bottom: 3rem;
        }

        .app-title {
            font-size: 2.5rem;
        }

        .app-subtitle {
            font-size: 1.5rem;
        }
    </style>
</head>

<body>
    <div class="container app-container">
        <!-- Position it -->
        <div style="position: absolute; top: 1rem; right: 1rem;">
            <div id="toast-container"></div>
        </div>
        <div class="row app-heading">
            <div class="col-12">
                <h1 class="app-title">Cabled Array Datasets</h1>
                <p class="app-subtitle">There are {{datasets|length}} datasets available.</p>
                <a href="/docs" target="_blank" class="btn btn-outline-dark" role="button">API Documentation</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Source URL</th>
                            <th scope="col">URL</th>
                            <th scope="col">Data reload</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dataset in datasets %}
                        <tr>
                            <th scope="row">{{ dataset.dataset_id }}</th>
                            <td>{{ dataset.zarr_url }}</td>
                            <td><a href="{{ dataset.path }}/docs">Link</a></td>
                            <td><button class="btn btn-outline-dark btn-sm" type="submit"
                                    onclick="reloadDataset(`{{ dataset.dataset_id }}`)">Reload</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        const reloadDataset = (datasetID) => {
            $(`.toast--${datasetID}`).remove();
            axios
                .post(`/refresh/${datasetID}`)
                .then((response) => {
                    if (response.data.status === 'success') {
                        const toastStr = `<div class="toast toast--${datasetID}" role="alert" aria-live="assertive" aria-atomic="true" data-delay=3000>
                                            <div class="toast-header">
                                                <strong class="mr-auto">Data reloaded</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                ${datasetID} succesfully reloaded.
                                            </div>
                                        </div>`;
                        const html = $.parseHTML(toastStr);
                        $('#toast-container').append(html);
                        $(`.toast--${response.data.dataset_id}`).toast('show') 
                    }
                })
                .catch((error) => {
                    console.log(error);
                })
        }
    </script>
</body>

</html>